@model DoctorAppointmentPortal2.Models.Appointment

@{
    ViewData["Title"] = "Book Appointment";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h1>Book</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalIssue" class="control-label"></label>
                <select id="Disease" asp-for="MedicalIssue" class="form-control" asp-items="ViewBag.MedicalIssue">
                    <option>Choose the MedicalIssue</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorToVisit" class="control-label"></label>
                <input id="dName" asp-for="DoctorToVisit" class="form-control" />

                <span asp-validation-for="DoctorToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorAvailableTime" class="control-label"></label>
                <input id="AvailableTime" asp-for="DoctorAvailableTime" class="form-control" />
                <span asp-validation-for="DoctorAvailableTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


<h2>@ViewBag.Message</h2>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
            // Uncomment above line
        };
    </script>
}

@*<div>
    <a asp-action="Index">List of Appointments</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Disease').change(function () {
            var formdata = new FormData();
            formdata.append("Disease", $("#Disease").val());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetData","Appointments")',
                processData: false,
                contentType: false,
                data: formdata,
                success: function (result) {
                    //alert(result.doctorName);
                    //alert(result.doctorTime);
                    $("#dName").val(result.doctorName);
                    $("#AvailableTime").val(result.doctorTime);
                }
            });
        });
    });
</script>
