@model User
@{
    ViewData["Title"] = "Registration Page";
}

<div class="text-center">
    <h1 class="display-4">Health Checkup</h1>

</div>


<h2>Register</h2>
<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" required/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" required/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Confirm Password</label>
        <input asp-for="Password" type="password" class="form-control" required/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

